section.home-1.main-section
	.container
		.about-wrapper
			.row.wrapper
				.col-md-7
					h3.main-title.line Giới thiệu dự án
					.content
						p Quỹ Vitamin C ra đời sau cuộc trò chuyện của Vân và Vĩ Lâm về tác hại khôn lường của chất độc da cam. Với những mối liên hệ mà gia đình đang có, hai chị em tin rằng họ có thể làm điều gì đó để thay đổi cuộc sống của những người tàn tật khắp Việt Nam. 
						p Tháng 9/2019, Vitamin C thực hiện chuyến viếng thăm đầu tiên tại Tp. Hồ Chí Minh: Trung tâm Nuôi dưỡng Bảo trợ trẻ em Gò Vấp và Trung tâm Bảo trợ Trẻ em Tàn tật Mồ côi Thị Nghè. 
					.btn-wrapper
						a.view-more(href="#") Xem thêm
				.col-md-5
					.image
						img(src="./img/home/1.png", alt="")
