section.home-6.main-section
	.container
		h3.main-title.line.bg Tin nổi bật
		.row
			.col-lg-6
				.image
					img(src="./img/home/6.png", alt="")
					.content-wrapper
						.time
							time 24/02/2018
						.content
							a(href="#") Cuộc sống của hơn 200 đứa trẻ mồ côi, khuyết tật được chùa cưu mang
			.col-lg-3
				.item-news
					.image-child
						img(src="./img/home/7.png", alt="")
						.time
							time 24/02/2018
					.content
						a.title(href="#") Mẹ của hàng trăm trẻ mồ côi và khuyết tật: 'Nhiều người nói Tim bị điên'
						p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
			.col-lg-3
				.item-news
					.image-child
						img(src="./img/home/8.png", alt="")
						.time
							time 24/02/2018
					.content
						a.title(href="#") Trẻ em mồ côi, khuyết tật: Nỗi đau không gì bù đắp'
						p Việt Nam, quốc gia đầu tiên ở châu Á và trên thế giới phê chuẩn Công ước về Quyền trẻ em năm 1990, tiếp tục thể hiện khả năng lãnh đạo rõ ràng và luôn hướng tới đảm bảo mọi trẻ em đều khỏe mạnh, an toàn, được giáo dục và trao quyền để phát triển tối đa tiềm năng của mình.
