section.home-4.main-section
	.container
		h3.main-title.line.bg Dự án đã thực hiện
		.row.news
			.col-xl-6.img-wrapper
				.image
					img(src="./img/home/3.png", alt="")
			.col-xl-6.content-wrapper
				.content
					time.time 13/07/2020
					a.title(href="#") Viếng thăm Trung tâm Nuôi Dưỡng Bảo trợ Trẻ em Gò Vấp và Trung tâm Bảo trợ Trẻ tàn tật mồ côi Thị Nghè
					p Sau nhiều ngày chuẩn bị, đầu tháng 9, 2019, Vitamin C đã có chuyến viếng thăm và trao tặng  600 hộp bánh Trung thu và các nhu yếu phẩm cho các em ở Trung tâm Nuôi dưỡng Bảo trợ Trẻ em Gò Vâp và Trung tâm Bảo trợ Trẻ tàn tật mồ côi Thị Nghè. Chuyến đi kết thúc đã đọng lại nhiều cảm xúc và ký ức khó quên trong mỗi người chúng tôi.  
					.btn-wrapper
						a.view-more(href="#") Xem thêm
		.row.child
			.col-lg-6.item-wrapper
				.image
					img(src="./img/home/4.png", alt="")
				.content
					time.time 13/07/2020
					a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
					.button
						a.view-more(href="#") Xem thêm
			.col-lg-6.item-wrapper
				.image
					img(src="./img/home/5.png", alt="")
				.content
					time.time 13/07/2020
					a.title(href="#") Hoạt động bán nước ép bưởi 	gây quỹ 
					.button
						a.view-more(href="#") Xem thêm
