<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->
 
  <templatelist xsltname="TinAo.xslt" name="Tin ao"></templatelist>

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>

  <templatelist xsltname="DanhSachDuAn.xslt" name="Danh sách Dự án"></templatelist> 

  <templatedetail xsltname="ChiTietDuAn.xslt" name="Chi tiết dự án"></templatedetail>

  <templatelist xsltname="Thongtindonggop.xslt" name="Danh sách thông tin đóng góp"></templatelist>
  <templatedetail xsltname="DanhSachUngHo.xslt" name="Danh sách ủng hộ"></templatedetail>

  <position>
  	<add name="Home  -Giới thiệu dự án" value="1" resourcefile="" /> 
  	<add name="Home - Đối tượng dự án" value="2" resourcefile="" />
  	<add name="Home - Dự án đã thực hiện" value="4" resourcefile="" />
  	<add name="Home - Tin tức nổi bật" value="8" resourcefile="" /> 
  </position>
</templates> 