section.home-3.main-section
	.container
		h3.main-title.line.bg Đối tượng dự án
		.row.du-an-ds
			- for(i=0;i<3;i++)
				.col-lg-4
					.item
						a(href="#")
							.image
								img(src="./img/home/2.png", alt="")
						.content
							a(href="#") Nạn nhân chất độc gia cam
