section.lien-he.main-section
	.container
		h3.main-title.line.bg Thông tin liên hệ
		.row
			.col-lg-4
				.lienhe-wrapper
					.logo
						img(src="./img/icon/logo.png", alt="")
					p.title Chi hội bảo trợ bệnh nhân nghèo VitaminC
					ul.dia-chi
						li
							em.mdi.mdi-map-marker
							span 20, Trần Cao Vân, P.Đa Kao, Q1
						li
							em.mdi.mdi-phone
							span 028 3827 0474 
						li
							em.mdi.mdi-email
							span vc.foundationvn@gmail.com
			.col-lg-8
				h3.main-child Liên hệ với chúng tôi
				.form
					.wrap-form
						.form-group
							label Họ và tên
								span *
							input(type="text")
						.form-group
							label Email
								span *
							input(type="text")
						.form-group
							label Số điện thoại
								span *
							input(type="text")
						.form-group
							label Tiêu đề
								span *
							input(type="text")
						.form-group.content
							label Email
								span *
							textarea(name="", cols="30", rows="10")
						.form-group.button-wrapper
							.button
								button(type="submit") Gửi
			.col
				.map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3512230674028!2d106.69517741462258!3d10.784388892316093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f35d1749435%3A0xfe7882b200b7bcda!2zMjAgVHLhuqduIENhbyBWw6JuLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1599764995606!5m2!1svi!2s', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
