section.home-banner
	.container
		.swiper-container
			.swiper-wrapper
				- for(i=0;i<2;i++)
					.swiper-slide
						.banner
							.image
								img(src="./img/banner/1.png", alt="")
								img(src="./img/banner/2.png", alt="")
							.content-banner
								p Cầu nối với những tấm lòng từ bi của Quý mạnh thường quận đến với những mảnh dời còn nhiều khó khăn trong cuộc sống
								.btn-wrapper
									a.view-more(href="#") Xem thêm
