section.home-2.main-section
	.container
		h3.main-title.line.bg Lý do thực hiện
		.row
			.col-xl-3.col-sm-6
				.item-vitaminC
					.icon
						img(src="./img/icon/1.png", alt="")
					.content
						p Giúp đỡ người khác và tạo ra những ảnh hưởng tích cực tới đời sống của những người kém may mắn.
			.col-xl-3.col-sm-6
				.item-vitaminC
					.icon
						img(src="./img/icon/3.png", alt="")
					.content
						p Tạo mọi điều kiện thuận lợi cho trẻ mồ côi và người khuyết tật hòa nhập với cộng đồng xã hội
			.col-xl-3.col-sm-6
				.item-vitaminC
					.icon
						img(src="./img/icon/4.png", alt="")
					.content
						p Mong muốn tìm kiếm mọi người ở khắp nơi có cùng tấm lòng thiện nguyện, sở thích làm từ thiện ủng hộ và tham gia nhiệt tình.
			.col-xl-3.col-sm-6
				.item-vitaminC
					.icon
						img(src="./img/icon/5.png", alt="")
					.content
						p Cùng xây dựng và tô điểm cuộc đời, góp phần làm cho cuộc sống tươi đẹp hơn.
