footer
	.container
		.footer-wrapper
			.row
				.col-md-4
					.logo-footer
						.image
							img(src="./img/logo2.png", alt="")
						.content
							p chi hội bảo trợ bệnh nhân nghèo vitamin C
				.col-md-4
					h3.title Đóng góp trực tuyến
					ul
						li Chi hội bảo trợ bệnh nhân nghèo Vitamin C
						li Địa chỉ: 20 Trần Cao Vân - P. Đa Kao - Quận 1 - TP.HCM
						li Số tài khoản: 1012 949550 (VNĐ) - 1012 950744 (USD)
						li tại ngân hàng TMCP Ngoại Thương Việt Nam - Chi nhánh Tân Định - TP.HCM
						li 139 Hai Bà Trưng - Phường 6 - Quận 3 - TP.HCM
						li Swift code: BFTVVNVX
				.col-md-4
					h3.title Đóng góp tiền mặt
					ul
						li Vắn phòng tri hội Vitamin C
						li Địa chỉ: 20 Trần Cao Vân - P. Đa Kao - Quận 1 - TP.HCM
		.footer-bottom
			.wrapper-left
				p © 2020 Chi hội Vitamin C. Tất cả các quyền được bảo hộ.
					| 
					a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep', target='_blank') Thiết kế website
					|  bởi
					a(href='https://www.canhcam.vn', target='_blank')  Canh Cam
			.wrapper-right
				ul
					li
						a(href="#") Sơ đồ trang web
					li
						a(href="#") Chính sách bảo mật
					li
						a(href="#") Điều khoản sử dụng
				.btn-email
					a(href="#").email-box
						em.mdi.mdi-email
						p Để lại lời nhắn
