section.donggop-ct.main-section
	.container
		h3.main-title.line.bg Thông tin đóng góp
		.row
			.col-lg-6
				.item-vitaminC
					h3.main-child Đóng góp trực tuyến
					.table
						table
							tr
								th Số tài khoản:
								td 1012 949550 (VNĐ)  - 1012 950744 (USD)
							tr
								th Tên:
								td CHI HỘI BẢO TRỢ BỆNH NHÂN NGHÈO VITAMIN C  
							tr
								th Địa chỉ :
								td  20 Trần Cao Vân - P. Đa Kao - Quận 1 - TP.HCM
							tr
								th Tên ngân hàng: 
								td Ngân Hàng TMCP Ngoại Thương Việt Nam – Chi Nhánh Tân Định - TP.HCM
							tr
								th Địa chỉ ngân hàng:
								td 39 Hai Bà Trưng – Phường 6 – Quận 3 – TP.HCM
							tr
								th Swift code :
								td BFTVVNVX
			.col-lg-6
				.item-vitaminC
					h3.main-child Đóng góp tiền mặt
					.table
						table
							tr
								th Văn phòng: 
								td Chi hội bảo trợ bệnh nhân nghèo Vitamin C 
							tr
								th Địa chỉ:
								td  20 Trần Cao Vân, P.Đa Kao, Q.1, TP.HCM 

