section.donggop-form.main-section
	.container
		h3.main-title.line.bg Đăng ký tham da dự án
		h4.main-child Đăng ký thông tin
		.form
			.wrap-form
				.form-group
					label Họ và tên
						span *
					input(type="text")
				.form-group
					label Email
						span *
					input(type="text")
				.form-group
					label Số điện thoại
						span *
					input(type="text")
				.form-group
					label Dự án
						span *
					input(type="text")
				.form-group.content
					label Email
						span *
					textarea(name="", cols="30", rows="10")
				.form-group.button-wrapper
					.button
						button(type="submit") Gửi
