section.donggop-ds.main-section
	.container
		h3.main-title.line.bg Đóng góp
		.row.wrapper
			.col-lg-6.box-right
				.image
					img(src="./img/dong-gop/1.png", alt="")
			.col-lg-6.box-left
				.content
					p.title Đóng góp
					p Cầu nối với những tấm lòng từ bi của Quý mạnh thường quân đến với những mảnh đời còn nhiều khó khăn trong cuộc sống. Cầu nối với những tấm lòng từ bi của Quý mạnh thường quân đến với những mảnh đời còn nhiều khó khăn trong cuộc sống.
		.row.du-an-ds
			- for(i=0;i<3;i++)
				.col-lg-4
					.item
						a(href="#")
							.image
								img(src="./img/dong-gop/2.png", alt="")
						.content
							a(href="#") Danh sách ủng hộ
