section.donggop-mtq.main-section
	.container
		h3.main-title.line.bg Danh sách ủng hộ
		p.decs Chúng tôi luôn trân trọng và biết ơn tấm lòng hảo tâm của các mạnh thường quân. Chúng tôi tin rằng "Hạnh phúc không tự nhiên mà có, nó đến từ chính hành động của bạn”. Danh sách các mạnh thường quân: 
		.table
			table
				tr
					th STT
					th Họ và tên
					th Số tiền đóng góp
					th Đơn vị tiền tệ
					th Ngày đóng góp
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td 1
					td Mạnh Thường Quân
					td 500.000
					td VND
					td 20/07/2020
				tr
					td
					td Tổng cộng
					td 500.000.000
					td VND
					td

