section.home-5.main-section
	.container
		h3.main-title.line.bg Con số ấn tượng
		.row
			.col-6.col-lg-3.circle
				.home-chart-number-item
					h2 2
						span tỷ
					p Số tiền quyên góp
			.col-6.col-lg-3.circle
				.home-chart-number-item
					h2 20
					p Đơn vị tài trợ
			.col-6.col-lg-3.circle
				.home-chart-number-item
					h2 100
						span +
					p Trẻ em được</br> giúp đỡ
			.col-6.col-lg-3.circle
				.home-chart-number-item
					h2 4
					p Dự án thực hiện
