section.duan-ct.main-section
	.container
		.title-detail
			h3.main-child Viếng thăm Trung tâm nuôi dương bảo trợ trẻ em Gò Vấp và trung tâm bảo trợ trẻ em tàn tật mồ côi Thị Nghè
			.social-wrapper
				time 31/08/2020
				.social
					a(href="#")
						em.mdi.mdi-facebook
					a(href="#")
						em.mdi.mdi-twitter
				
					
		.slide-wrapper
			.swiper-top
				.swiper-container.gallery-top
					.swiper-wrapper
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
				.swiper-prev
					em.mdi.mdi-arrow-left
				.swiper-next
					em.mdi.mdi-arrow-right
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.image
							img(src="./img/du-an/2.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/3.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/4.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/5.png", alt="")
		ul.diadiem-thoigian
			li
				spam.main-child Địa điểm:
				span Trung tâm Nuôi Dưỡng Bảo trợ Trẻ em Gò Vấp và Trung tâm Bảo trợ Trẻ em Tàn tật Mồ côi Thị Nghè. 
			li
				span.main-child Thời gian:
				span Tháng 09/2020
		.noidung-duan
			p Sau nhiều ngày chuẩn bị, đầu tháng 9, 2019, Vitamin C đã có chuyến viếng thăm và trao tặng  600 hộp bánh Trung thu và các nhu yếu phẩm cho các em ở Trung tâm Nuôi dưỡng Bảo trợ Trẻ em Gò Vâp và Trung tâm Bảo trợ Trẻ tàn tật mồ côi Thị Nghè. Chuyến đi kết thúc đã đọng lại nhiều cảm xúc và ký ức khó quên trong mỗi người chúng tôi.  
			p “Khi tôi lần đầu tiên đến trại trẻ mồ côi, tôi đã hoàn toàn bất ngờ và bị sốc trước những hình ảnh hiện ra trước mắt. Dù đã chuẩn bị tâm lý nhưng tôi đã không kỳ vọng tình hình nghiêm trọng như vậy. Những đứa trẻ phải nằm trên giường thay vì chơi đùa với bạn bè như bao đứa trẻ cùng trang lứa. Chúng tôi đã trao bánh cho từng em và nhận được những nụ cười rạng rỡ trên những gương mặt nhỏ bé ấy. Tôi đã rất xúc động và muốn đem lại nhiều niềm vui tới cuộc sống của các em, nhìn các em tươi cười như những đứa trẻ khác” – Một thành viên của Vitamin C chia sẻ.  
		.duan-khac.main-section
			h3.main-title.line.bg Dự án khác
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item-news
							.image-child
								img(src="./img/home/4.png", alt="")
								.time
									time 24/02/2018
							.content
								a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
								p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
					.swiper-slide
						.item-news
							.image-child
								img(src="./img/home/4.png", alt="")
								.time
									time 24/02/2018
							.content
								a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
								p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
			.swiper-prev
				em.mdi.mdi-arrow-left
			.swiper-next
				em.mdi.mdi-arrow-right
