section.duan-ct.main-section
	.container
		.title-wrapper
			h3.main-child Viếng thăm trung tâm Trung tâm nuôi dương bảo trợ trẻ em Gò Vấp và trung tâm bảo trợ trẻ em tàn tật mồ côi Thị Nghè
			.social-wrapper
				time 31/08/2020
				.social
					a(href="#")
						em.mdi.mdi-facebook
					a(href="#")
						em.mdi.mdi-twitter
				
					
		.slide-wrapper
			.swiper-top
				.swiper-container.gallery-top
					.swiper-wrapper
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
						.swiper-slide
							.image
								img(src="./img/du-an/1.png", alt="")
				.swiper-prev
					em.mdi.mdi-arrow-left
				.swiper-next
					em.mdi.mdi-arrow-right
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.image
							img(src="./img/du-an/2.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/3.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/4.png", alt="")
					.swiper-slide
						.image
							img(src="./img/du-an/5.png", alt="")
		
		.duan-khac.main-section
			h3.main-title.line.bg Dự án khác
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item-news
							.image-child
								img(src="./img/home/4.png", alt="")
								.time
									time 24/02/2018
							.content
								a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
								p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
					.swiper-slide
						.item-news
							.image-child
								img(src="./img/home/4.png", alt="")
								.time
									time 24/02/2018
							.content
								a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
								p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
			.swiper-prev
				em.mdi.mdi-arrow-left
			.swiper-next
				em.mdi.mdi-arrow-right
