section.duan-ds.main-section
	.container
		h3.main-title.line.bg Dự án
		.row.news
			.col-xl-6.img-wrapper
				.image
					img(src="./img/home/3.png", alt="")
			.col-xl-6.content-wrapper
				.content
					time.time 13/07/2020
					a.title(href="#") Viếng thăm Trung tâm Nuôi Dưỡng Bảo trợ Trẻ em Gò Vấp và Trung tâm Bảo trợ Trẻ tàn tật mồ côi Thị Nghè
					p Sau nhiều ngày chuẩn bị, đầu tháng 9, 2019, Vitamin C đã có chuyến viếng thăm và trao tặng  600 hộp bánh Trung thu và các nhu yếu phẩm cho các em ở Trung tâm Nuôi dưỡng Bảo trợ Trẻ em Gò Vâp và Trung tâm Bảo trợ Trẻ tàn tật mồ côi Thị Nghè. Chuyến đi kết thúc đã đọng lại nhiều cảm xúc và ký ức khó quên trong mỗi người chúng tôi.  
					.btn-wrapper
						a.view-more(href="#") Xem thêm
		.row.list-news
			.col-lg-4
				.item-news
					.image-child
						img(src="./img/home/4.png", alt="")
						.time
							time 24/02/2018
					.content
						a.title(href="#") Viếng thăm Trung tâm giáo dục trẻ em khuyết tật Quận 4
						p Dù bị cho là điên, là bao đồng nhưng 26 năm qua, cô gái người Thụy Sĩ có tên Việt là Hoàng Nữ Ngọc Tim vẫn âm thầm trên hành trình gắn bó, cưu mang hàng trăm trẻ mồ côi, khuyết tật.
			.col-lg-4
				.item-news
					.image-child
						img(src="./img/home/8.png", alt="")
						.time
							time 24/02/2018
					.content
						a.title(href="#") Viếng thăm Trung tâm Nuôi Dưỡng Bảo trợ Trẻ em Gò Vấp
						p Việt Nam, quốc gia đầu tiên ở châu Á và trên thế giới phê chuẩn Công ước về Quyền trẻ em năm 1990, tiếp tục thể hiện khả năng lãnh đạo rõ ràng và luôn hướng tới đảm bảo mọi trẻ em đều khỏe mạnh, an toàn, được giáo dục và trao quyền để phát triển tối đa tiềm năng của mình.
			.col-lg-4
				.item-news
					.image-child
						img(src="./img/home/5.png", alt="")
						.time
							time 24/02/2018
					.content
						a.title(href="#") Hoạt động bán nước ép bưởi gây quỹ 
						p Việt Nam, quốc gia đầu tiên ở châu Á và trên thế giới phê chuẩn Công ước về Quyền trẻ em năm 1990, tiếp tục thể hiện khả năng lãnh đạo rõ ràng và luôn hướng tới đảm bảo mọi trẻ em đều khỏe mạnh, an toàn, được giáo dục và trao quyền để phát triển tối đa tiềm năng của mình.
