header
    .container
        .searchbox
            input(type="text")
            button(type="submit")
                em.mdi.mdi-magnify
        .main-wrap
            .left-wrap
                a(href="/")
                    .logo

            .right-wrap
                .main-menu
                    ul.menu
                        li 
                            a(href="javacript:void(0)") 
                                em.material-icons.md-48 face
                        li 
                            a(href="javacript:void(0)") 
                                em.ri-admin-line.ri-fw
                        li 
                            a(href="javacript:void(0)") Kai
                        li 
                            a(href="javacript:void(0)") Kai
                        li 
                            a(href="javacript:void(0)") Kai
                        li 
                            a(href="javacript:void(0)") Kai
                .main-language
                    .dropdown-toggle
                        p Tiếng Việt
                    .dropdown-menu
                        .item
                            a(href="javascript:void(0)").dropdown-item English
                .main-search
                    .button-search
                        em.mdi.mdi-magnify
                .button-hambuger
                    .burger-bt-inner
                        span
    .mobile-wrap
    .backdrop