section.banner-wrapper
	.container
		.banner
			.image
				img(src="./img/banner/1.png", alt="")
				img(src="./img/banner/2.png", alt="")
			.content-banner
				p Cầu nối với những tấm lòng từ bi của Quý mạnh thường quận đến với những mảnh dời còn nhiều khó khăn trong cuộc sống
				.btn-wrapper
					a.view-more(href="#") Xem thêm

