section.tintuc-ct.main-section
	.container
		.row
			.col-lg-9
				.title-detail
					h3.main-child Cuộc sống của hơn 200 trẻ em mồ côi, khuyết tật được chùa cưu mang
					.social-wrapper
						time 31/08/2020
						.social
							a(href="#")
								em.mdi.mdi-facebook
							a(href="#")
								em.mdi.mdi-twitter
				.full-content
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit numquam totam, non temporibus ab voluptatibus, laudantium corporis facilis, ullam commodi deserunt laboriosam quam necessitatibus ex! Facere reiciendis dolore quia suscipit.
			.col-lg-3
				.title
					h3 Tin tức khác
				.list-wrapper
					.list-item
						- for(i=1;i<6;i++)
							.item
								.image
									img(src="./img/news/1.png", alt="")
								.content
									time 20/07/2020
									a(href="#") Mẹ của hàng trăm trẻ em mồ côi, khuyết tật bỏ rơi
